
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Tapestry
build/

#Gradle
gradle/
build.gradle
gradlew
gradlew.bat

.factorypath
.springBeans

*/*.gz
*/.m2
*/*.log
.log
.vscode/
*/logs/CXE.log

