
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Tapestry
build/

#Gradle
gradle/
build.gradle
gradlew
gradlew.bat

.factorypath
.springBeans

*/.m2
*.log
.vscode/