<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> Add New Task</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
          
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">   
    <link rel="stylesheet" href="css/custom.css">   
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="/js/datatable.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
	<h3>Bootstrap Tutorial</h3>
	<p>Bootstrap is the most popular HTML, CSS, and JS framework for
		developing responsive, mobile-first projects on the web.</p>
</div>

<div class="container-fluid" style="margin-top: 120px">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			
                <div class="panel-group">
                	<div class="panel panel-primary">
                		<div class="panel-heading">
                			<h1 class="panel-title">Add Task Information</h1>
                		</div>
                		<div class="panel-body">
                			<form id="addTodo" th:object="${todo}" th:action="@{'/todo/add'}" method="POST">
                			<div class="row">
                				<div class="col-md-6">
                					<label for="addTaskNameId">Task Name: </label>
                					<input id="addTaskNameId" type="text" class="form-control" th:field=*{taskName}/>
                				</div> 
                				<div class="col-md-6">
                					<label for="addUserNameId">Owner Name: </label> <br/>
    								<select id="addUserNameId" class='form-control' style="width:200px; height:32px" th:field="*{user}">
    									<option th:each="user : ${users}" 
    								    	    th:value="${user.id}" 
	    								        th:text="${user.name}">JackAss</option>
    								</select>
                				</div>
                			</div>
                			
                			<br/>
                			
                			<div class="row">
                				<div class="col-md-12 col-centered">
                					<span>
										<button type="submit" class='addButton'>Submit Task</button>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="reset" class ='cancelAddlButton'>Reset</button>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<button id="cancelAddlButton" type="button" class='cancelAddlButton'>Cancel</button>
									</span>
                				</div>
                			</div>
                			</form>
                			<!-- <form action="/index">
    							<input type="submit" value="Cancel" />
							</form> -->
                			
                		</div>
                	</div>
                </div>
			
		</div>
	</div>
</div>

<div class="container" th:replace="fragments/footer :: footer">
		<p>footer</p>
</div>

</body>
</html>