<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>My Mongo Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" 
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">My Todo's</h1>
                </div>
                <div class="panel-body">
                	<div class="table-responsive" th:if="${not #lists.isEmpty(todos)}">
                		<table class="table table-hover ">
                            <thead class="thead-inverse">
                            	<tr>
                                	<th>ID</th>
                                	<th>Name</th>
                                	<th>Completed</th>
                                	<th>Date Created</th>
                                	<th colspan="2">Actions</th>
                            	</tr>
                            </thead>
                            
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Do some work</td>
                                <td>true</td>
                                <td>date</td>
                                <td><a href="#">Remove</a></td>
                                <td><a href="#">Update</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>ajdjdj12333</td>
                                <td>Eat som tasty goodnees</td>
                                <td>false</td>
                                <td>date</td>
                                <td><a href="#">Remove</a></td>
                                <td><a href="#">Update</a></td>
                                
                            </tr>
                            <tr th:each="todo : ${todos}">
                                <td th:text="${todo.id}">Id error</td>
                                <!-- <td th:text="${todo.name}">Name error</td> -->
                                <td th:text="${#strings.isEmpty(todo.name) == true ? 'Empty' : todo.name}"/>
                                <!-- <div th:if="${user.isAdmin() == false}"> --> 
                                <td th:text="${#bools.isTrue(todo.completed) == true ? 'Yes' : 'No'}"></td>
                                <!-- <td th:text="${todo.completed}">Error</td> -->
                                <td th:text="${#dates.format(todo.createDate, 'dd-MM-yyyy HH:mm')}"></td>
                                <!-- <td th:text="${todo.createDate}"></td> -->
                                <!--  <p th:text="${#dates.formatISO(date)}"></p> -->
                                <td><a href="#">Remove</a></td>
                                <td><a href="#">Update</a></td>
                            </tr>
                        </table>
                	</div>
                	<div>
            			<input type="button" value="Add"/>
					</div>
                	
                </div>
			</div>
        </div>
    </div>
</div>

</body>
</html>